body {
 <-- background-image: url("https://images.pexels.com/photos/1578750/pexels-photo-1578750.jpeg");-->
background-repeat: no-repeat, repeat;
 background-size: cover;
 background-position: center;
 background-color: none;
}
h1 {
}
h2 {
    background-color:none;
    color: white;
    
}
h3{
    background-color:none;
    color: white;

}
}
