    <style>
body {
background-image:url('https://i.pinimg.com/originals/2b/04/8f/2b048f293775499a2acabecb7480134d.gif'); 
background-repeat:repeat; }
}
  }
 
}
a: link;{color: palegreen;
}
a: visited{color: rosybrown;
}
 h1{
    display: table;
    margin: 0px auto 0px auto; 
    padding:5px;background: rgba(0, 0, 0, 0.4);color:#ffffff;
  
 }   
h2 {
    color: white;
    font-size: 50pt;

    
}
h3{
    color: white;
    font-size: 30pt;


}
</style>

@media only screen and (min-width: 400px) {
    body {
        background: black;
        align-content: center;
    }
    section {
        padding: 4rem;
    }
}

@media only screen and (max-width: 1080px) {
    body {
        background: black;
        align-content: center;
    }
    section {
        height: 150px;
    }
    h2 {
        font-size: 50pt;
    }
    h3
    {
        font-size: 30pt;    
    }
    a:link {
        font-size: 30pt;        
    }
    </body>
}
